mixin trust-badges()
    section.trust-section(aria-label="Trust indicators")
        .container
            .trust-grid
                .trust-badge
                    .trust-icon
                        i.fa-solid.fa-shield-halved
                    .trust-text
                        h4 12-Month Warranty
                        p Official warranty on all products
                .trust-badge
                    .trust-icon
                        i.fa-solid.fa-lock
                    .trust-text
                        h4 Secure Payment
                        p SSL encrypted, 100% safe
                .trust-badge
                    .trust-icon
                        i.fa-solid.fa-truck-fast
                    .trust-text
                        h4 Fast Delivery
                        p Nationwide 2-hour express
                .trust-badge
                    .trust-icon
                        i.fa-solid.fa-headset
                    .trust-text
                        h4 24/7 Support
                        p Expert support, always on
