extends ../../layouts/default.pug

block main
    .container
        .page-404
            h1 404
            p The page you're looking for doesn't exist.
            .d-flex.justify-content-center(style="gap: 16px; flex-wrap: wrap;")
                a.btn-cta(href="/")
                    i.fa-solid.fa-house(style="font-size: 13px;")
                    | Go Home
                a.btn-cta-outline(href="/products") Browse Products
