extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/product-layout.pug

block main
    .container.my-5
        +box-head(pageTitle)

        if (products && products.length > 0)
            +product-grid(products)
        else
            .empty-state
                i.fa-solid.fa-magnifying-glass
                p No products found matching your search.
                a.btn.btn-primary.mt-3(href="/products") Browse All Products
